body {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  font-family: "Chakra Petch", sans-serif;
}
.container {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 500px;
  padding: 10px;
}
h1 {
  font-size: 40px;
  text-align: center;
}
select {
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  width: 98%;
}
.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 10px;
}
.city:last-child {
  border: none;
}
h2 {
  font-size: 30px;
  margin: 0;
}
.date {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.time {
  font-size: 40px;
  margin: 10px 0;
}
p small {
  font-size: 15px;
  vertical-align: middle;
}
.go-back {
  margin: 0 0 10px 15px;
}
.go-back a {
  color: rgb(0, 0, 0);
  line-height: 2;
  text-decoration: none;
}
.go-back a:hover {
  color: rgba(0, 0, 0, 0.6);
  font-size: large;
}
footer {
  font-size: smaller;
  margin: 8px;
  text-align: center;
}
footer a {
  color: rgb(60, 223, 255);
  line-height: 2;
  text-decoration: none;
}
footer a:hover {
  color: rgba(60, 223, 255, 0.6);
  font-size: large;
}
